@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

.slide {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #fd5294;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  padding: 2%;
  justify-content: center;
}

.slide h4,
p {
  margin: 0;
}

.active-crypto {
  color: white;
}

.main-logo {
  width: 35%;
  opacity: 0.4;
}

.navbar {
  background: #ec4c8b;
  height: 3rem;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 1% 3%;
}

.coin-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.coin {
  background: #dc4782;
  padding: 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 20vh;
  border: 0;
  outline: 0;
}

.coin h3,
p {
  margin: 0;
}

.lastcoin {
  margin-left: auto;
}

.coin img {
  width: 7rem;
  margin: 5%;
}

.coin:nth-child(4n+3),
.coin:nth-child(4n+2) {
  background: #d1447a;
}

.lastmenu {
  display: flex;
  gap: 1rem;
}

.cointop {
  height: 2.5rem;
  background: #ec4c8b;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 2%;
}
