@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lato:wght@700&display=swap');

* {
  font-family: 'Cabin', sans-serif;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.slide {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #fd5294;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  padding: 2%;
  justify-content: center;
}

.slide h4,
p {
  margin: 0;
}

.active-crypto {
  color: white;
}

.main-logo {
  width: 35%;
  opacity: 0.4;
}

.navbar {
  background: #ec4c8b;
  height: 3rem;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 1% 3%;
}

.coin-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.coin-link {
  background: #dc4782;
  padding: 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 20vh;
  border: 0;
  outline: 0;
  text-decoration: none;
}

.coin h3,
p {
  margin: 0;
}

.lastcoin {
  text-align: right;
}

.coin img {
  width: 7rem;
  margin: 5%;
}

.coin-link:nth-child(4n+3),
.coin-link:nth-child(4n+2) {
  background: #d1447a;
}

.lastmenu {
  display: flex;
  gap: 1rem;
}

.cointop {
  height: 2.5rem;
  background: #d1447a;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 2%;
  text-transform: uppercase;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .coin-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .coin img {
    width: 8rem;
  }

  .lastmenu {
    gap: 2rem;
  }

  .lastcoin {
    text-align: center;
  }

  .cointop {
    height: 4rem;
    font-size: 1.5rem;
  }

  .slide {
    height: 35vh;
    gap: 4rem;
  }

  .main-logo {
    width: 20%;
  }

  .coin h3 {
    font-size: 1.5rem;
  }

  .coin p {
    font-size: 1.2rem;
  }

  .coin-link {
    height: 25vh;
    align-items: center;
    text-align: center;
    border: 0.5px solid rgb(74, 56, 61);
    background: #d1447a;
  }

  .coin-link:nth-child(even) {
    background: #dc4782;
  }

  .slide h4 {
    font-size: 2.5rem;
  }

  .slide p {
    font-size: 2rem;
  }

  .navbar {
    height: 5rem;
    font-size: 1.5rem;
  }
}
